@font-face {
  font-family: Product Sans;
  src: url(../fonts/ProductSans-Bold.ttf);
  src: url(../fonts/ProductSans-Regular.ttf);
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-ms-reveal {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
body,
input,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style-type: none;
}

body {
  font-family: "Product Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
}

input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 75px;
  line-height: 91px;
  max-width: 488px;
  margin-bottom: 15px;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
}
h2 span {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: block;
  color: #f16214;
  margin-bottom: 6px;
}

h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #ffffff;
}

.lorem {
  font-size: 16px;
  line-height: 24px;
  color: #888888;
}

header {
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  background-image: url(../img/Product.png);
}

.header__top {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 141px;
}
.header__top__logo {
  margin-right: 178px;
}
.header__top__nav {
  display: flex;
  align-items: center;
}
.header__top__nav-home {
  color: #f16214;
  font-weight: bold;
}
.header__top__nav li {
  margin-right: 30px;
}
.header__top__nav li:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
.header__top__nav li a {
  font-size: 16px;
  line-height: 19px;
}
.header__top__nav li:last-child a {
  background-color: #f16214;
  color: #fff;
  border-radius: 120px;
  padding: 7px 17px;
  font-size: 13px;
  line-height: 16px;
}
.header__middle {
  padding-bottom: 130px;
}
.header__middle p {
  max-width: 570px;
  margin-bottom: 40px;
}
.header__middle__btn {
  border-radius: 54px;
  background-color: #f16214;
  display: inline-flex;
  align-items: center;
  margin-bottom: 40px;
}
.header__middle__btn:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
.header__middle__btn span {
  padding: 13px 19px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}
.header__middle__btn svg {
  margin-right: 5px;
}
.header__middle__social {
  display: flex;
  justify-content: space-between;
  max-width: 229px;
}

.feature {
  padding-top: -20px;
  box-shadow: 0px 22px 52px rgba(0, 0, 0, 0.07);
  border-radius: 60px 0px;
  display: flex;
  justify-content: space-between;
  padding: 60px 133px 60px 87px;
}
.feature__block {
  height: 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.feature__block p {
  font-weight: bold;
}
.feature__block span {
  font-size: 13px;
  color: #888888;
}
.feature__line {
  background: #dddddd;
  height: 97px;
  width: 1.5px;
}

.howtowork {
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
  background-image: url(../img/imagework.png);
}
.howtowork__food {
  padding: 158px 0;
  justify-content: flex-end;
  display: flex;
}
.howtowork__food__right {
  max-width: 570px;
}
.howtowork__food__right h2 {
  max-width: 527px;
  margin-bottom: 45px;
}
.howtowork__food__right p {
  margin-bottom: 29px;
}

.services {
  padding: 97px 0 100px 0;
}
.services h2 {
  text-align: center;
  margin-bottom: 59px;
}
.services__choose {
  display: flex;
  justify-content: space-between;
}
.services__choose__service {
  padding: 70px 36px 72px 36px;
  text-align: center;
  border: 2px solid #eeeeee;
  border-radius: 60px 0px;
  width: 370px;
  height: 395px;
}
.services__choose__service:hover {
  border: 0px;
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
}
.services__choose__service svg {
  margin-bottom: 44px;
}
.services__choose__service-title {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 29px;
}
.services__choose__service-text {
  color: #888888;
  line-height: 26px;
}

.items {
  padding: 97px 0 100px 0;
  text-align: center;
}
.items h2 {
  margin-bottom: 59px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.products__product {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
  width: 370px;
  height: 419px;
  margin-bottom: 30px;
}
.products__product__add {
  display: flex;
  justify-content: space-between;
  padding: 16px 19px 50px 19px;
}
.products__product__add-name {
  text-align: start;
}
.products__product__add-name p {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 19px;
}
.products__product__add-name button {
  background: #f16214;
  border-radius: 50px;
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
}
.products__product__add-name button:hover {
  transform: scale(1.1);
  transition: 0.2ms;
}
.products__product__add-price svg {
  margin-right: 5px;
}
.products__product__add-price span {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.star {
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 16px;
  margin-top: 17px;
  align-items: center;
  display: flex;
}

.download {
  padding: 230px 0;
}
.download__bg {
  border-radius: 60px 0px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/269.svg);
  height: 400px;
  padding: 86px 29px;
  display: flex;
  justify-content: space-between;
}
.download__bg__simple h3 {
  max-width: 321px;
  margin-bottom: 50px;
}
.download__bg__simple a {
  margin-right: 20px;
}
.download__bg__simple a:last-child {
  margin-right: 0px;
}
.download__bg__images {
  display: flex;
  position: relative;
  width: 594.09px;
  height: 660px;
  right: 5%;
}
.download__bg__images-img1 {
  top: -39%;
  position: absolute;
}
.download__bg__images-img2 {
  top: -32%;
  position: absolute;
  left: 295px;
}

.testi {
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url(../img/vegetabels.svg);
}

.testimonials {
  text-align: center;
  padding: 97px 0 78px 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper__info__people {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 54px;
}
.wrapper__info__people img {
  margin-right: 15px;
}
.wrapper__info__people-name p {
  display: flex;
  font-weight: bold;
  line-height: 19px;
  margin-bottom: 3px;
}
.wrapper__info__people-name span {
  font-size: 13px;
  line-height: 16px;
  color: #888888;
}
.wrapper__info p {
  max-width: 558px;
  margin-bottom: 34px;
}

.arrowleft {
  margin-right: 30px;
}
.arrowleft svg:hover {
  fill: #f16214;
}
.arrowleft svg:hover path {
  fill: #fff;
  stroke: #fff;
}
.arrowleft svg:hover line {
  fill: #fff;
  stroke: #fff;
}

.arrowright {
  transform: rotate(180deg);
  padding-top: 3px;
}
.arrowright svg:hover {
  fill: #f16214;
}
.arrowright svg:hover path {
  fill: #fff;
  stroke: #fff;
}
.arrowright svg:hover line {
  fill: #fff;
  stroke: #fff;
}

.subscribe {
  padding: 100px 0;
}
.subscribe__burgers {
  display: flex;
  justify-content: flex-end;
}

.burgers {
  background: url(../img/BGburgers.svg);
  max-width: 1170px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  border-radius: 60px 0px;
}
.burgers__image {
  width: 460px;
  height: 460px;
  position: relative;
}
.burgers__image img {
  position: absolute;
  top: -20%;
}
.burgers__info {
  padding: 51px 67px 51px 0;
  max-width: 548px;
}
.burgers__info h3 {
  margin-bottom: 15px;
}
.burgers__info p {
  margin-bottom: 29px;
}
.burgers__info__choose {
  position: relative;
}
.burgers__info__choose-pick {
  width: 500px;
  height: 60px;
  border-radius: 13px;
  padding-left: 19px;
  color: #888888;
  font-size: 13px;
}
.burgers__info__choose-pick::-moz-placeholder {
  color: #cccccc;
  font-size: 13px;
}
.burgers__info__choose-pick:-ms-input-placeholder {
  color: #cccccc;
  font-size: 13px;
}
.burgers__info__choose-pick::placeholder {
  color: #cccccc;
  font-size: 13px;
}
.burgers__info__choose-btn {
  position: absolute;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background: #f16214;
  border-radius: 13px;
  width: 120px;
  height: 50px;
  text-transform: uppercase;
  right: -3%;
  top: 8%;
}

footer {
  background: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 26px;
}

.copyrights__line {
  max-width: 1170px;
  height: 1.5px;
  background-color: #dddddd;
  margin-bottom: 23px;
}
.copyrights p {
  text-align: center;
  color: #888888;
}

.socialsvg:hover circle {
  fill-opacity: 1;
}
.socialsvg:hover path {
  fill: #fff;
}

.footer {
  padding-bottom: 61px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.footer__block img {
  margin-bottom: 34px;
}
.footer__block__title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 36px;
  line-height: 33px;
}
.footer__block__lorem {
  margin-bottom: 33px;
  max-width: 270px;
}
.footer__block__list li {
  margin-bottom: 8px;
}
.footer__block__adress {
  max-width: 156px;
  line-height: 32px;
}
.footer__block a {
  line-height: 32px;
}
.footer__block__choose {
  position: relative;
}
.footer__block__choose-pick {
  border-radius: 10px;
  width: 270px;
  padding-left: 19px;
  height: 50px;
}
.footer__block__choose-pick::-moz-placeholder {
  color: #cccccc;
  font-size: 13px;
}
.footer__block__choose-pick:-ms-input-placeholder {
  color: #cccccc;
  font-size: 13px;
}
.footer__block__choose-pick::placeholder {
  color: #cccccc;
  font-size: 13px;
}
.footer__block__choose-btn {
  position: absolute;
  right: 2%;
  top: 9%;
}

.seebtn {
  margin-bottom: 0px;
}

@media (max-width: 1440px) {
  .container {
    max-width: 100%;
  }

  header {
    background-image: url(../img/Product1400.png);
  }

  .howtowork {
    background-image: url(../img/image1400.png);
    background-size: auto;
  }
}
@media (max-width: 1280px) {
  header {
    background-image: url(../img/Product1025.png);
  }

  .header__middle p {
    max-width: 536px;
  }

  .howtowork__food__right {
    max-width: 455px;
  }

  .download__bg {
    background-size: auto;
  }
  .download__bg__images {
    right: 10%;
  }

  .products {
    justify-content: space-around;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 100%;
  }

  .header__middle p {
    max-width: 470px;
  }

  .howtowork__food__right {
    max-width: 386px;
  }

  .download__bg {
    background-size: auto;
  }
  .download__bg__images {
    right: 15%;
  }
}
@media (max-width: 960px) {
  header {
    background-image: url(../img/Product769.png);
  }

  .howtowork {
    background-position: top left;
  }

  .wrapper__image {
    width: 50%;
  }

  .howtowork__food {
    padding-bottom: 0px;
  }
  .howtowork__food__right {
    max-width: 100%;
    padding-top: 274px;
  }

  .header__top {
    justify-content: space-between;
  }
  .header__top__logo {
    margin-right: 0;
  }

  .download__bg {
    padding: 25px 29px;
  }
  .download__bg__images {
    right: 0%;
  }
  .download__bg__images-img1 {
    top: -29%;
  }
  .download__bg__images-img2 {
    display: none;
  }

  .burgers__image img {
    width: 100%;
    top: 6%;
  }

  .services__choose {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  h1 {
    max-width: 347px;
  }

  .header__middle p {
    max-width: 383px;
  }

  .services__choose__service {
    margin-bottom: 30px;
  }

  .footer__block {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .header__top {
    display: block;
    padding-bottom: 60px;
  }
  .header__top__logo {
    margin-bottom: 20px;
  }
  .header__middle p {
    max-width: 350px;
  }

  .header__top__nav li {
    justify-content: space-between;
    width: 100%;
    margin-right: 0px;
  }

  .feature {
    padding: 10px;
  }

  .burgers__image {
    display: none;
  }

  .download__bg__images-img1 {
    right: -16%;
  }

  .burgers__info {
    padding: 50px 30px 51px 30px;
  }

  .burgers__info__choose-btn {
    right: -1%;
  }

  .items {
    padding: 0px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 45px;
    line-height: 65px;
  }

  header {
    background-image: url(../img/Product421.png);
    background-position: bottom right;
  }

  .header__top {
    padding-bottom: 20px;
  }

  .header__top__nav {
    display: none;
  }

  .header__middle {
    padding-bottom: 367px;
  }

  .howtowork {
    background-size: contain;
  }

  .download__bg__images {
    display: none;
  }

  .wrapper {
    flex-direction: column-reverse;
  }
  .wrapper__image {
    padding: 30px 0;
  }

  .burgers {
    height: auto;
    background-image: url(../img/269.svg);
  }
  .burgers__info {
    max-width: 370px;
  }

  .burgers__info__choose-pick {
    width: auto;
  }

  .download {
    padding: 30px 0;
  }

  .subscribe {
    padding-top: 0px;
  }

  .feature {
    flex-direction: column;
  }
  .feature__line {
    display: none;
  }
  .feature__block {
    margin-bottom: 30px;
  }
}
@media (max-width: 420px) {
  .burgers__info__choose-btn {
    position: relative;
    width: 187px;
  }

  .burgers__info__choose-pick {
    margin-bottom: 15px;
  }
}
@media (max-width: 375px) {
  .products__product img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */